@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* This is the key part: using a very large inset box-shadow to cover the background */
  -webkit-box-shadow: 0 0 0px 1000px theme('colors.white') inset !important;
  /* Use !important to override Tailwind's default styles */

  /* Optionally, you can also set the text color */
  -webkit-text-fill-color: theme('colors.black') !important;
}